#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  background-color: #555555;
}

input:focus {
    outline: none;
}

label {
  margin-bottom: 0;
}

#custom_header {
  margin-bottom: 100px;
}
