#logo {
  padding-left: 50px;
  padding-top: 20px;
}

#nav_bar {
  margin-left: 10%;
  margin-right: 10%;
}

#custom_header {
  background-image: url("./netflix-bg.png");
  background-position: center;
  background-size: 100% 100%;
}
